/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.description {
  margin-top: 1rem;
}

.header {
  padding: 1rem 5rem;
}

.main {
  padding: 1rem 5rem;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImage {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: 50% 25%;
}
