/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.logoTrust {
  position: fixed;
  top: 0.5rem;
  width: 10rem;
  left: 2rem;
  user-select: none;
}

.main {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  width: 80%;
  user-select: none;
}

@media screen and (max-width: 996px) {
  .logoTrust {
    left: 4.5rem;
  }
}
